<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--    brings the configuration from Spring and configures also the logback -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--    read a property from the .yml -->
    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>
        <keepAliveDuration>5 minutes</keepAliveDuration>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" >
            <customFields>{"host": "${hostname}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STASH"/>
    </root>

</configuration>